Source: wdb-feltload  
Section: science
Priority: extra
Maintainer: Vegard Bønes <wdb@met.no>
Build-Depends: debhelper (>= 5),
 autotools-dev,
 libwdbload2
Build-Conflicts: autoconf2.13,
 automake1.4
Standards-Version: 3.9.3

Package: wdb-feltload
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libwdbload2
Description: Load met.no proprietary FELT files into wdb
 A loader program for transferring forecasts from met.no FELT files into a 
 wdb database
