Source: wdb-feltload
Section: science
Priority: extra
Maintainer: WDB Group, Meteorologisk institutt <wdb@met.no>
Uploaders: Michael O. Akinde <michael.akinde@met.no>
Build-Depends: debhelper (>= 7),
 autotools-dev,
 cdbs,
 libwdbload-dev
Build-Conflicts: autoconf2.13,
 automake1.4
Standards-Version: 3.9.3

Package: wdb-feltload-1.2
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Provides: wdb-feltload
Description: Load met.no proprietary FELT files into wdb
 A loader program for transferring forecasts from met.no FELT files into a 
 wdb database
